{% extends "layout.html" %}
{% block content %}
  <div class="container">
		<div><br/>
		</div>
		<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-sm-6">
		<center><h1>Surl</h1><p>Url Shorten Service<br>Fengqu短网址服务</p></center>
		<br/>
			{% for message in form.url.errors %}
			<div class="alert alert-info" role="alert">
			  <a href="#" class="alert-link">{{message}}</a>
			</div>
			{% endfor %}
			<form action="{{url_for('admin.index')}}" method="post">
			{{ form.hidden_tag() }}
            <div class="login-form">
            <div class="form-group">
				{{form.url(class_="form-control login-field",placeholder="http://", id="url")}}
              <label class="login-field-icon fui-window" for="url"></label>
            </div>
			<div class="btn-group.btn-group-justified">
						{{ form.submit(class="btn btn-primary btn-xs") }}
						<a class="btn btn-primary btn-xs " href="#">复原</a>

            </div>
		</div>
		</form>
		</div>
		
  </div>
   </div>

{% endblock %}
